.add-comment-block {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  transition: left 0.2s ease-in-out, top 0.2s ease-in-out;

  .blue-circle {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #0095ff;
    display: inline-block;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  }

  .add-comment-block__input-block {
    background-color: #282c34;
    border-radius: 0.50rem;
    width: 15rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  }

  .add-comment-block__input {
    font-size: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;

    input[type='text'] {
      border: none;
      background: transparent;
      outline: none;
      color: #e0e8ea;
      width: 100%;
    }
  }
}
